<section>
    <h3>SPA in React</h3>
</section>
<section>
    <h4>Vorbereitung</h4>
    <ul>
        <li>Bitte einmal auschecken</li>
        <li>https://gitlab.com/dhbw_webengineering_2/rich_client_react (branch: main)</li>
        <li><code>npm install</code></li>
        <li>Für VS Code -> React Extension Pack</li>
    </ul>
</section>
<section>
    <h4>Wie hilft uns React?</h4>
    <ul>
        <li>Unterstützt
            <ul>
                <li>DOM Manipulation</li>
                <li>Routing</li>
            </ul>
        </li>
        <li>Bietet eine Menge Libraries zur Unterstützung
            <ul>
                <li>Axios: für XMLHttpRequests</li>
            </ul>
        </li>
        <li>Bietet Change Detection</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>React macht vieles einfacher, was wir in plain JavaScript selbst erledigen mussten.</li>
            <li>DOM Manipulation wird durch die JSX Syntax wesentlich einfacher.</li>
            <li>Routing mit entsprechender URL Manipulation wird zum Kinderspiel.</li>
            <li>Axios ist eine vorgefertigtes Tooling, um XMLHttpRequests abzusenden.</li>
            <li>Change Detection ist schon mal ein Schlagwort, das ihr euch merken könnt. Auch darauf werde ich später
                noch genauer eingehen, wenn es wichtiger für uns wird.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React functions</h4>
    <ul>
        <li>Enthalten Information und Logik zum Rendern der UI</li>
        <li>Eine Mischung aus Javascript und HTML (JSX)</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function ReactFunction() {
    const name = 'World';

    return <div>Hello {name}!</div>
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>React funktions geben als return Wert eine Art HTML Syntax zurück.</li>
            <li>Es darf maximal ein toplevel Tag geben.</li>
            <li>Über geschweifte Klammern können wir dynamische Daten in das HTML einfügen.</li>
            <li>Das macht das Rendering von dynamischen Informationen wesentlich einfacher als mit plain Javascript.
            </li>
        </ul>
    </aside>
</section>
<section>
    <h4>React functions</h4>
    <ul>
        <li>Expressions im HTML sind möglich</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function ReactFunction() {
    const names = ['World', 'Daniel', 'Iven', 'Kai'];

    return <div>Hello {names.join(', ')}!</div>
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>In den geschweiften Klammern können wir nicht nur Variablen einbinden, sondern auch verschiedene
                Expressions nutzen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React functions</h4>
    <ul>
        <li>HTML in einer Expression ebenfalls</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function ReactFunction() {
    const names = ['World', 'Daniel', 'Iven', 'Kai'];

    return <div>Hello {names.map(name => <b>{name},</b>)}!</div>
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Auch in den geschweiften Klammern können wir über die JSX Syntax wieder HTML Tags einfügen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React functions</h4>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function ReactFunction() {
    let name;

    return <div>{ name ? `Hello ${name}!` : 'Loading' }</div>
}</code>
    </pre>
</section>
<section>
    <h4>React functions</h4>
    <ul>
        <li>ReactFunctions ineinander einbinden</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function OtherReactFunction() {
    return &lt;div&gt;&lt;ReactFunction /&gt;&lt;/div&gt;
}</code>
    </pre>
</section>
<section>
    <h4>Praxis: React functions (ListView)</h4>
    <ul>
        <li>ListView mit React bauen</li>
        <li>Ganz simpel, kein Styling, kein Backend!</li>
        <li>https://gitlab.com/dhbw_webengineering_2/rich_client_react (branch: step_0-list_view)</li>
    </ul>
</section>
<section>
    <h4>React routing</h4>
    <ul>
        <li>Bietet uns einfache Navigation</li>
        <li>Automatische Anpassung der URL</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>React routing is eine Library für React.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React routing</h4>
    <pre>
        <code class="language-javascript" data-line-numbers="">function App() {
    return (
    &lt;div className="App"&gt;
        &lt;BrowserRouter&gt;
            &lt;Routes&gt;
                &lt;Route path='/' element={&lt;Screen1 /&gt;} /&gt;
                &lt;Route path='/screen1' element={&lt;Screen1 /&gt;} /&gt;
                &lt;Route path='/screen2/:someParam'
                    element={&lt;Screen2 /&gt;} /&gt;
            &lt;/Routes&gt;
        &lt;/BrowserRouter&gt;
    &lt;/div&gt;
    );
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Mit dem BrowserRouter wird eine Stelle markiert, an der die einzelnen Seiten angezeigt werden.</li>
            <li>Die Routes definieren alle Seiten, zu denen navigiert werden kann.</li>
            <li>Mehrere Pfade können zu gleichen Seite führen.</li>
            <li>Der Parameter "element" einer Route, definiert die React function, zu der navigiert wird.</li>
            <li>Über ein :someParam kann ein Parameter bei der Navigation mitgegeben werden.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React routing</h4>
    <ul>
        <li>Mit useNavigate() können wir Navigationen auslösen.</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function SomeScreen() {
    const navigate = useNavigate();
    const someParam = 'someParam';

    return <div>
        &lt;button value='Screen1' onClick={() => navigate('/')}/&gt;;
        &lt;button 
            value='Screen2' 
            onClick={() => navigate(`/screen2/${someParam}`)}/&gt;;
    </div>
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Über die Funktion "useNavigate()" bekommt man eine Funktion, mit der man eine Navigation auslösen kann.
            </li>
            <li>Dieser Funktion übergibt man nun den Pfad. Dabei können natürlich auch Parameter eingefügt werden.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React routing</h4>
    <ul>
        <li>useParams() erlaubt es uns auf Pfadparameter zuzugreifen</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function Screen2() {
    const { someParam } = useParams();

    return <div>{someParam}</div>;
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Über die Funktion "useParams()" bekommt man ein Objekt mit allen übergebenen Parametern.</li>
            <li>Der Name des Parameters ist dabei der, der in der Route hinter dem Doppelpunkt definiert wurde.</li>
            <li>Über Javascript Destructing wird der Parameter hier aus dem Objekt destructed.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Praxis: React routing</h4>
    <ul>
        <li>Zu unserem bestehenden ListView bauen wir einen DetailView</li>
        <li>Navigation zum DetailView und zurück soll möglich sein</li>
        <li>Wer nicht mitgekommen ist:
            <ul>
                <li>https://gitlab.com/dhbw_webengineering_2/rich_client_react (branch: step_1-routing)</li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h4>Laden dynamischer Daten</h4>
    <ul>
        <li>Mit der Library axios</li>
        <li>GET Request wie folgt:</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">async getData() {
    return axios.get(
        'https://somedomain.de/get/data',
    ).then((response) => response.data);
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Wie ihr sehen könnt, brauchen wir nur die URL.</li>
            <li>Als Response bekommen wir ein Javascript Objekt, welches axios bereits aus dem JSON geparsed hat.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Laden dynamischer Daten</h4>
    <ul>
        <li>POST Request:</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">async saveData(data) {
    return axios.post(
        'https://somedomain.de/post/data',
        data,
        {
            headers: {'Content-Type': 'application/json'},
        },
    ).then((response) => response.data);
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Auch POST Requests funktionieren mit axios ziemlich einfach.</li>
            <li>Wir können das Javascript Objekt, das gespeichert werden soll, einfacher als solches übergeben.</li>
            <li>Axios kümmert sich um die JSON Serializierung.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Laden dynamischer Daten</h4>
    <ul>
        <li>Auslagern der Requests in eine eigene Klasse</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default class DataHttpClient {
    async getData() {
    }

    async saveData(data) {
    }
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Um die Funktionen zum Laden und Speichern von Daten auf verschiedenen Seiten nutzen zu können, sollten wir sie in eine Klasse auslagern.</li>
            <li>Außerdem bleiben so die React functions frei von solcher Logik und befassen sich nur mit dem Rendering</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Laden dynamischer Daten</h4>
    <ul>
        <li>Bereitstellen des DataHttpClient mittels Dependency Injection</li>
        <li>In React nutzt man Context Injection</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export const DataHttpClientContext = 
                createContext(DataHttpClient);

function App() {
    return (
    <div className="App">
        &lt;DataHttpClientContext.Provider 
            value={new DataHttpClient()}&gt;
            &lt;Screen1 /&gt;
        &lt;/DataHttpClientContext.Provider&gt;
    </div>
    );
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Braucht ihr noch mal eine Erläuterung zu Dependency Injection?</li>
            <li>Über den React Context können wir gewisse Objekte in Teilen des DOM's verfügbar machen.</li>
            <li>Mit der Funktion "createContext" erstellt man ein Kontext-Objekt von einem gewissen Klassentyp.</li>
            <li>Nun hängen wir einen Provider dieses Kontexts in dem DOM ein.</li>
            <li>Dieser Provider erhält nun das konkrete Objekt, das unter dem Provider im DOM verfügbar ist.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Laden dynamischer Daten</h4>
    <ul>
        <li>Abrufen des Objekts mit useContext()</li>
        <li>Nur möglich, wenn sich die React function im korrekten Kontext befindet</li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function Screen1() {
    const dataHttpClient = useContext(DataHttpClientContext);

    return <div></div>;
}</code>
    </pre>
</section>
<section>
    <h4>Praxis: Laden dynamischer Daten</h4>
    <ul>
        <li>Schreibt euch einen TodoHttpClient, mit dem ihr Todos abrufen könnt</li>
        <li>Startet dazu den Web Service vom letzten Mal</li>
        <li>Macht den Client per DI verfügbar</li>
        <li>Wer nicht mitgekommen ist:
            <ul>
                <li>https://gitlab.com/dhbw_webengineering_2/rich_client_react (branch: step_2-load_data)</li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>Ein Thema für sich</li>
        <li>Speichern von State: useState()</li>
        <li>Lifecycle: useEffect()</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>React Hooks sind schon fast ein Thema für sich.</li>
            <li>Wenn wir Daten in einer React function speichern wollen, können wir das mit useState() -> gleich mehr dazu</li>
            <li>In unserer Plain Javascript SPA haben wir auch Code für die Initialisierung gebraucht. Bzw. wir haben die einzelnen Seiten initial geladen.</li>
            <li>In einer React function können wir nicht einfach asynchronen Code ausführen. Es muss immer direkt etwas zum Rendern zurückgegeben werden.</li>
            <li>Daher gibt es Effects, um asynchron etwas vom Backend zu laden. Hier greifen wir dann auf den Client den wir geschrieben haben zu.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>useState()
            <ul>
                <li>Zum Speichern/Ändern von Daten in einer React function</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function Screen2() {
    const [count, setCount] = useState(0)

    return &lt;button onClick={() => setCount(count + 1)}&gt;
        {count}
    &lt;/button&gt;;
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Mit der Funktion useState() können wir Daten in einer React function speichern.</li>
            <li>Die useState() function gibt uns ein Attribut "count" über das wir auf den Wert zugreifen können.</li>
            <li>Der zweite Rückgabewert ist eine function, mit der wir den Wert verändern können.</li>
            <li>Bennenen können wir die Rückgabewerte, wie wir wollen. (hier wird wieder mit destruction gearbeitet)</li>
            <li>Eine normale Variable würde ihren Wert verlieren, wenn die React function erneut aufgerufen wird.</li>
            <li>useState() erzeugt einen state für die function der besteht. Außerdem wird die React function neu gezeichnet, sobald sich ein state ändert.</li>
            <li>Auch über das onChange event des input fields wird der state neu gesetzt.</li>
            <li>Angezeigt wird der aktuelle Wert, in dem wir die "count" variable als Label des Buttons anzeigen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>useEffect()
            <ul>
                <li>Seiteneffekte für React functions</li>
                <li>Callback der zu bestimmten Zeitpunkten aufgerufen wird</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function Screen2() {
    ...

    useEffect(() => {
        dataHttpClient.getData()
            .then((data) => console.log(data));
    });

    ...
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Mit der Funktion useEffect() definieren wir einen Callback, der zu gewissen Zeitpunkten automatisch von React augerufen wird.</li>
            <li>In diesem Beispiel wird der Callback zum Zeitpunkt der Initialisierung der React function aufgerufen.</li>
            <li>Die React function wird ausgeführt und anschließend wird der Request gegen das Backend gestartet.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>useEffect()
            <ul>
                <li>Funktioniert gut in Kombination mit useState()</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="">export default function Screen2() {
    ...
    const [data, setData] = useState('')

    useEffect(() => {
        dataHttpClient.getData(data)
            .then((data) => setData(data));
    });

    return &lt;input 
            value={data} 
            onChange={(e) => setData(e.target.value)} /&gt;;
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>useEffect() wird nicht nur zur Initialisierung der React function aufgerufen, es wird auch aufgerufen, wenn sich ein state ändert.</li>
            <li>Dieser Code würde daher eine Endlosschleife auslösen. Jedes mal wenn "setData" aufgerufen wird, wird der Callback erneut ausgeführt.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>useEffect()
            <ul>
                <li>Muss nicht auf State Änderungen reagieren</li>
                <li>Reagiert auf alle Parameter im Array</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="8">export default function Screen2() {
    ...
    const [data, setData] = useState('')

    useEffect(() => {
        dataHttpClient.getData(data)
            .then((data) => setData(data));
    }, []);

    return &lt;input 
            value={data} 
            onChange={(e) => setData(e.target.value)} /&gt;;
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>useEffect() löst nun keine Endlosschleife mehr aus.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>React Hooks</h4>
    <ul>
        <li>useEffect()
            <ul>
                <li>Kann zum Aufräumen verwendet</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="language-javascript" data-line-numbers="8">export default function Screen2() {
    ...
    const [data, setData] = useState('')

    useEffect(() => {
        dataHttpClient.getData(data)
            .then((data) => setData(data));
        return () => console.log('teardown');
    }, []);

    return &lt;input 
            value={data} 
            onChange={(e) => setData(e.target.value)} /&gt;;
}</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Der Rückgabewert des Callbacks des useEffect() Hooks wird aufgerufen, wenn die React function abgeräumt wird.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Praxis: React Hooks</h4>
    <ul>
        <li>Ladet die Todos über den Client mit dem useEffect() Hook</li>
        <li>Für den ListView und den DetailView</li>
        <li>Macht die Checkbox im Detailview funktionsfähig</li>
        <li>Wer nicht mitgekommen ist:
            <ul>
                <li>https://gitlab.com/dhbw_webengineering_2/rich_client_react (branch: step_3-react_hooks)</li>
            </ul>
        </li>
    </ul>
</section>