<section>
    <h3>Herausforderungen in komplexen Frontends</h3>
</section>
<section>
    <h4>Component Tree:</h4>
    <img src="assets/components-tree.png" height="400px" />
    <aside class="notes">
        <ul>
            <li>Je komplexer ein Frontend wird, desto mehr Components werden inneinander geschachtelt.</li>
            <li>Das hat den Vorteil, dass einzelne Components schlank bleiben und sich nur um eine Sache kümmern.</li>
            <li>Allerdings müssen wir auch dafür sorgen, dass jede Component die Daten erhält, die sie braucht.</li>
            <li>Teilweise produzieren Components auch Daten, die wieder in anderen Components dargestellt werden sollen.
            </li>
        </ul>
    </aside>
</section>
<section>
    <h4>Component Tree:</h4>
    <img src="assets/components-tree-data-passed-down.png" height="400px" />
    <aside class="notes">
        <ul>
            <li>Eine Möglichkeit ist, dass die PageComponent die Daten verwaltet und sie nach unten weitergegeben werden.</li>
            <li>Falls eine Component Daten produziert, gibt sie sie nach oben weiter zur PageComponent, wo die Daten wieder gesammelt werden.</li>
            <li>Dies kann für kleinere Frontends super funktionieren.</li>
            <li>Je größer und komplexer das Frontend wird, desto schwieriger wird diese vorgehensweise.</li>
            <li>Die Daten liegen verstreut über verschiedene Components. Die PageComponent wird komplexer, je mehr Daten verwaltet werden.</li>
            <li>Components kümmern sich nicht nur um das Anzeigen von Daten, sondern enthalten meist auch Logik.</li>
            <li>Man verliert schnell den Überblick und es wird schwierig einen Fehler zu debuggen, das die Daten überall verstreut sind.</li>
        </ul>
    </aside>
</section>