<section>
    <section>
        <div data-markdown>
            ### Vergleich
        </div>
    </section>
    <!-- Kriterien -->
    <section>
        <div data-markdown>
            #### Vergleich - Kriterien

            - Initialaufwand
            - Wartungsaufwand
            - Betriebsaufwand
            - Personalaufwand
        </div>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Kriterien

            - Abhängigkeit
            - Ausführbarkeit
            - Testbarkeit
            - Skalierbarkeit
            - Zuverlässigkeit
            - Ausfallsicherheit
        </div>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Initialaufwand

            - Aufsetzten der Architektur
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith braucht kein Konzept</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith braucht einfaches Konzept</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services braucht erweitertes Konzept</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices braucht allgemeines Konzept</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Initialaufwand

            Monolith | Modulith | Services | Microservices
            ----------|-----------|----------|--------------
            Gering | Mittel | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith braucht kein Konzept</li>
                <li>Modulith braucht einfaches Konzept</li>
                <li>Services braucht erweitertes Konzept</li>
                <li>Microservices braucht allgemeines Konzept</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Wartungsaufwand

            - Einführung neuer Features
            - Entfernung alter Features
            - Behebung von Fehler
            - Aktualisierung der Abhängigkeiten
            - Refactoring
        </div>
        <aside class="notes">
            <ul>
                <li>Abhängigkeiten sind Sprache, Frameworks, Libraries, Services, Datenbanken, Schnittstellen
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: stark erhöhter Aufwand</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: Module leicht erweiterbar; Kern erhöhter Aufwand</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: Aufwand abhängig von Kern oder Service</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: können vollständig neugeschrieben werden</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Wartungsaufwand

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Hoch | Mittel | Mittel | Gering
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: stark erhöhter Aufwand</li>
                <li>Modulith: Module leicht erweiterbar; Kern erhöhter Aufwand</li>
                <li>Services: Aufwand abhängig von Kern oder Service</li>
                <li>Microservices: können vollständig neugeschrieben werden</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Betriebsaufwand

            - Betreiben der Services
            - Instandhaltung der Umgebung
            - Behebung von Störungen
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: wenige, große Instanzen; wenige Server, physische Umgebung</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: s.h. Monolith</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: wenige, große Instanzen + kleine, evt. häufige Services; einige Server, evt.
                    partiell virtualisierte Umgebung
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: viele, kleine Instanzen; viele Server, virtualisierte Umgebung</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Betriebsaufwand

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Gering | Gering | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: wenige, große Instanzen; wenige Server, physische Umgebung</li>
                <li>Modulith: s.h. Monolith</li>
                <li>Services: wenige, große Instanzen + kleine, evt. häufige Services; einige Server, evt.
                    partiell virtualisierte Umgebung
                </li>
                <li>Microservices: viele, kleine Instanzen; viele Server, virtualisierte Umgebung</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Personalaufwand

            - Teamgröße sowie Teamanzahl
            - Erhöhte Komplexität erfordert mehr Personal
            - Mehr Personal erfordert erhöhte Flexibilität
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: sehr kleines Entwicklungsteam benötigt; Operations durch Entwickler</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: sehr kleines bis kleines Entwicklungsteam benötigt; evt. extra Personal für
                    Operations
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: Entwicklungsteam abhängig von Größe des Projektes; extra Personal für Operations
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: ein, großes bis mehrere, kleine Entwicklungsteams; klein bis mittleres
                    Operationsteam
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Personalaufwand

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Gering | Mittel | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: sehr kleines Entwicklungsteam benötigt; Operations durch Entwickler</li>
                <li>Modulith: sehr kleines bis kleines Entwicklungsteam benötigt; evt. extra Personal für
                    Operations
                </li>
                <li>Services: Entwicklungsteam abhängig von Größe des Projektes; extra Personal für Operations
                </li>
                <li>Microservices: ein, großes bis mehrere, kleine Entwicklungsteams; klein bis mittleres
                    Operationsteam
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Abhängigkeit

            - Trennung der Fachlichkeiten
            - Freiheit der Technologien
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: sehr starke Kopplung, keine Kohäsion</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: mäßige Kopplung, gewisse Kohäsion</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: losere Kopplung, partiell hohe Kohäsion; mehrere Sprachen/Frameworks möglich</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: lose Kopplung, hohe Kohäsion; mehrere Sprachen/Frameworks/Images möglich</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Abhängigkeit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Hoch | Hoch | Mittel | Gering
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: sehr starke Kopplung, keine Kohäsion</li>
                <li>Modulith: mäßige Kopplung, gewisse Kohäsion</li>
                <li>Services: losere Kopplung, partiell hohe Kohäsion; mehrere Sprachen/Frameworks möglich</li>
                <li>Microservices: lose Kopplung, hohe Kohäsion; mehrere Sprachen/Frameworks/Images möglich</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Ausführbarkeit

            - Ausprobieren neuer Features
            - Nachstellen von Fehler
            - Aufsetzen der Umgebung
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nur eine Instanz benötigt</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: s.h. Monolith</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: mehrere Instanzen benötigt</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: mehrere Instanzen und Umgebung benötigt</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Ausführbarkeit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Hoch | Hoch | Mittel | Gering
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nur eine Instanz benötigt</li>
                <li>Modulith: s.h. Monolith</li>
                <li>Services: mehrere Instanzen benötigt</li>
                <li>Microservices: mehrere Instanzen und Umgebung benötigt</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Testbarkeit

            - Validierung der Korrektheit
            - Absichern von Entwicklungen
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nur in Gesamtheit testbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: einzelne Module testbar, Kern nur in Gesamtheit</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: einzelne Module/Services testbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: einzelne Services modular testbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Testbarkeit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Gering | Mittel | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nur in Gesamtheit testbar</li>
                <li>Modulith: einzelne Module testbar, Kern nur in Gesamtheit</li>
                <li>Services: einzelne Module/Services testbar</li>
                <li>Microservices: einzelne Services modular testbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Skalierbarkeit

            - Reaktionsfähigkeit bei Fluktuationen
            - Effiziente Nutzung der Ressourcen
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nicht skalierbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: einzelne Module über Threading skalierbar</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: einzelne Services können skaliert werden</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: alle Services können skaliert werden</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Skalierbarkeit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Keine | Gering | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: nicht skalierbar</li>
                <li>Modulith: einzelne Module über Threading skalierbar</li>
                <li>Services: einzelne Services können skaliert werden</li>
                <li>Microservices: alle Services können skaliert werden</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Zuverlässigkeit

            - Störungsanfälligkeit
            - Kommunikationsabbrüche
            - Fehlerhafte Zustände
            - Netzwerke, Hardware, Software
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: kaum Netzwerkverbindung; keine Interaktion zwischen Servergruppen; wenige Teile
                </li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: s.h Monolith</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: Kommunikation zwischen Kern und Service anfällig; mehrere Teile</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: Netzwerkvirtualisierung und Servergruppen anfällig; viele Teile</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Zuverlässigkeit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Hoch | Hoch | Mittel | Gering
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: kaum Netzwerkverbindung; keine Interaktion zwischen Servergruppen; wenige Teile
                </li>
                <li>Modulith: s.h Monolith</li>
                <li>Services: Kommunikation zwischen Kern und Service anfällig; mehrere Teile</li>
                <li>Microservices: Netzwerkvirtualisierung und Servergruppen anfällig; viele Teile</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Ausfallsicherheit

            - Ausfallsicherheit
            - Redundanz
        </div>
    </section>
    <section>
        <div>
            <h4>Architekturen - Monolith</h4>
            <img src="assets/monolith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: Single-Point-of-Failure</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Modulith</h4>
            <img src="assets/modulith.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Modulith: s.h Monolith</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Services</h4>
            <img src="assets/services.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Services: Kern Single-Point-of-Failure, Services redundant</li>
            </ul>
        </aside>
    </section>
    <section>
        <div>
            <h4>Architekturen - Microservices</h4>
            <img src="assets/microservices.svg" height="400">
        </div>
        <aside class="notes">
            <ul>
                <li>Microservices: alle Services redundant</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Ausfallsicherheit

            Monolith | Modulith | Services | Microservices
            ---------|----------|----------|--------------
            Gering | Gering | Mittel | Hoch
        </div>
        <aside class="notes">
            <ul>
                <li>Monolith: Single-Point-of-Failure</li>
                <li>Modulith: s.h Monolith</li>
                <li>Services: Kern Single-Point-of-Failure, Services redundant</li>
                <li>Microservices: alle Services redundant</li>
            </ul>
        </aside>
    </section>
    <section>
        <h4>Vergleich - Zusammenfassung</h4>
        <img src="assets/architecture_comparison.svg" height="600">
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Anforderungen

            | Monolith | Modulith | Services | Microservices |
            |----------|----------|----------|---------------|
            | Unbekannt - Einfach | Einfach - Umfangreich | Umfangreich - Komplex | Komplex |
        </div>
        <aside class="notes">
            <ul>
                <li>Anforderungen und Teamgröße limitieren Architekturmöglichkeiten</li>
                <li>Architektur nach Konvergierung von Anforderungen und Personalaufwand wählen</li>
                <li>Teamgröße muss sich mit Anforderungen decken</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Teamgröße

            | Monolith | Modulith | Services | Microservices |
            |----------|----------|----------|---------------|
            Klein | Klein - Groß | Mittel - Groß | Groß - Mehrere
        </div>
        <aside class="notes">
            <ul>
                <li>Anforderungen und Teamgröße limitieren Architekturmöglichkeiten</li>
                <li>Architektur nach Konvergierung von Anforderungen und Personalaufwand wählen</li>
                <li>Teamgröße muss sich mit Anforderungen decken</li>
            </ul>
        </aside>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Fazit

            - Anforderungen und Teamgröße limitieren jeweils Architekturmöglichkeiten
            - Architektur aus Deckung der Architekturmöglichkeiten wählen
            - Teamgröße muss sich mit Anforderungen decken
        </div>
    </section>
    <section>
        <div data-markdown>
            #### Vergleich - Fazit

            - Monolith für unbekannte Projekte
            - Modulith für mehr Wartbarkeit
            - Services für Skalierbarkeit
            - Microservices für Zuverlässigkeit
        </div>
    </section>
</section>