<section>
    <h4>Wieso gibt es SPA's?</h4>
    <ul>
        <li><b><em>Reduktion der übertragenen Daten</em></b></li>
        <li>Bessere User Experience</li>
        <li>Weniger Serverressourcen</li>
        <li>Session Clientseitig (Server ist Stateless)</li>
        <li>Hybride Anwendung auch mobile einsetzbar</li>
    </ul>
</section>
<section>
    <h4>Reduktion der übertragenen Daten</h4>
    <pre>
      <code class="language-html" data-line-numbers>&lt;html&gt;
&lt;head&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
  &lt;script&gt;{javascript}&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;nav&gt;Menu&lt;/nav&gt;
  &lt;div&gt;
    // some data
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Könnt ihr an diesem Beispiel einer HTML Seite erläutern, welche Daten nur einmal ausgeliefert werden
                müssen?</li>
            <li>Diese Daten würden bei einer Multi Page Application bei jedem Seitenaufruf erneut mitgeschickt werden.
            </li>
        </ul>
    </aside>
</section>
<section>
    <h4>Stylesheets</h4>
    <pre>
      <code class="language-html" data-line-numbers="3">&lt;html&gt;
&lt;head&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
  &lt;script&gt;{javascript}&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div&gt;
    // some data
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Wie ist das z.B. mit Stylesheets?</li>
            <li>Müssten sie wirklich immer neu augeliefert werden?</li>
            <li>Normalerweise wollen wir, dass Buttons, Inputfelder, etc. überall in unserer Application gleich
                aussehen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Stylesheets</h4>
    <ul>
        <li>Enthalten häufig ähnliche Informationen</li>
        <li>Könnten einmalig ausgeliefert werden</li>
    </ul>
    <pre>
        <code class="language-html" data-line-numbers>&lt;style&gt;
label {
 font-size: 12pt;
 color: blue;
}

input {
 font-size: 10pt;
 color: green;
 height: 10px;
 width: 20px;
}
&lt;/style&gt;
        </code>
  </pre>
</section>
<section>
    <h4>JavaScript</h4>
    <pre>
      <code class="language-html" data-line-numbers="4">&lt;html&gt;
&lt;head&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
  &lt;script&gt;{javascript}&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div&gt;
    // some data
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Was ist mit dem Javascript Code?</li>
            <li>Der Javascript Code einer Multi Page Application wird sich wahrscheinlich auf Dropdowns oder ähnliches
                beschränken.</li>
            <li>Schließlich passiert das eigentliche Rendering der Seite bereits im Backend.</li>
            <li>Aber auch Frontend Funktionalitäten wie Dropdowns oder Animationen sollten auf jeder Seite gleich
                funktionieren.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>JavaScript</h4>
    <ul>
        <li>Ebenfalls repetitiv</li>
        <li>Auf mehreren HTML Seiten braucht es gleiche Funktionalität</li>
    </ul>
    <pre>
        <code class="language-html" data-line-numbers>&lt;script&gt;
function openDropdown() {
  // do it
}

function doSomeFancyAnimation() {
  // do it
}
&lt;/script&gt;
        </code>
      </pre>
</section>
<section>
    <h4>HTML Struktur</h4>
    <pre>
      <code class="language-html" data-line-numbers>&lt;html&gt;
// head
&lt;body&gt;
  &lt;header&gt;&lt;/header&gt;
  &lt;nav&gt;&lt;/nav&gt;
  &lt;div&gt;
    // some data
  &lt;/div&gt;
  &lt;footer&gt;&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Was ist mit der restlichen HTML Struktur?</li>
            <li>Können wir noch mehr einsparen?</li>
            <li>Header, Navigation und Footer sind meist auch überall gleich.</li>
            <li>Brauchen teilweise nicht mal neu gerendert werden.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>HTML Struktur</h4>
    <ul>
        <li>Dynamischer Anteil der Seite beschränkt sich auf Informationen</li>
    </ul>
    <pre>
      <code class="language-html" data-line-numbers="7">&lt;html&gt;
// head
&lt;body&gt;
  &lt;header&gt;&lt;/header&gt;
  &lt;nav&gt;&lt;/nav&gt;
  &lt;div&gt;
    // some data
  &lt;/div&gt;
  &lt;footer&gt;&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Am Ende beschränkt sich der dynamische Teil auf die "business" Daten der Application.</li>
            <li>Das sind dann Nutzerdaten, Warenkörbe, etc.</li>
        </ul>
    </aside>
</section>