<section>
    <h4>Wieso gibt es SPA's?</h4>

    <ul>
        <li>Reduktion der übertragenen Daten</li>
        <li>Bessere User Experience</li>
        <li>Weniger Serverressourcen</li>
        <li><b><em>Session clientseitig (Service ist stateless)</em></b></li>
        <li>Hybride Anwendung auch mobil einsetzbar</li>
    </ul>
</section>
<section>
    <h4>Session clientseitig (Service ist stateless)</h4>
    <ul>
        <li>Service kann stateless sein</li>
        <li>Skalierbarkeit des Services</li>
        <li>Loadbalancing ist einfacher</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Skalierbarkeit bedeutet, dass wir mehrere Instanzen eines Services laufen lassen können.</li>
            <li>Bei hoher Last können die Zugriffe auf mehrere Instanzen verteilen.</li>
            <li>Loadbalancing beschreibt den Prozess der Lastverteilung.</li>
            <li>Wenn ein Nutzer immer dem gleichen Service zugeordnet werden muss, macht dies das Loadbalancing
                schwieriger.</li>
            <li>Wir gehen auf diese Punkte noch mal genauer in der Backend Vorlesung ein.</li>
        </ul>
    </aside>
</section>