<section>
    <h4>Nachteile einer SPA</h4>
    <p>Was könnten Nachteile einer SPA sein?</p>
    <ul class="fragment fade-in">
        <li>Initiale Response ist groß</li>
        <li>Search Engine Optimization</li>
        <li>Client ist nicht vertrauenswürdig</li>
        <li>Duplizierter Code</li>
        <li>Höherer Entwicklungsaufwand</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Jetzt habe ich euch die Vorteile von SPA's gezeigt.</li>
            <li>Das heißt nicht, dass eine SPA immer die beste Wahl ist.</li>
            <li>Multi Page Anwendungen haben durchaus ihre Berechtigung.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Initiale Response ist groß</h4>
    <pre>
      <code class="language-plantuml">
          @startuml
          participant "Client" as client
          participant "Web Server" as webServer

          group Initializing
          activate client
          client -> webServer: GET /index.html
          activate webServer
          webServer -> client: index.html
          webServer -> client: styles.css
          webServer -> client: script.js
          deactivate webServer
          client -> client: start application
          end
          @enduml
      </code>
  </pre>
    <aside class="notes">
        <ul>
            <li>Wir erinnern uns an das SPA Laufzeitdiagramm.</li>
            <li>Zu Anfang müssen erstmal alle Daten geladen werden.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Nachteile einer SPA</h4>
    <ul>
        <li>Initiale Response ist groß</li>
        <li><b><em>Search Engine Optimization</em></b></li>
        <li>Client ist nicht vertrauenswürdig</li>
        <li>Duplizierter Code</li>
        <li>Höherer Entwicklungsaufwand</li>
    </ul>
</section>
<section>
    <h4>Search Engine Optimization</h4>
    <ul>
        <li>SEO Webcrawler indexieren Webseiten</li>
        <li>Damit die Webseiten über eine Suchmaschiene findbar sind</li>
        <li>Einige dieser Webcrawler unterstützen kein JavaScript</li>
        <li>Google kann es, benachteiligt JavaScript Websites allerdings</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Damit Webseiten mit einer Suchmaschiene wie Google findbar ist, muss sie indexiert werden.</li>
            <li>Google und anderen Suchmaschienen haben daher Webcrawler, die über verschiedene Webseiten navigieren und diese indexieren.</li>
            <li>Diese Webcrawler speichern ebenfalls Daten von der Webseite, damit sie bei entsprechenden Suchworten angezeigt wird.</li>
            <li>Dazu muss der Webcrawler die Webseite auswerten. Dies ist bei einer einfachen HTML Seite recht einfach.</li>
            <li>Handelt es sich allerdings um eine SPA, so muss der Crawler erst JavaScript Code ausführen, damit das HTML korrekt generiert wird.</li>
            <li>Das Ausführen von JavaScript ist vergleichsweise rechenintensiv und braucht Zeit.</li>
            <li>Beides Dinge, die ein Webcrawler nicht hat. Daher verzichten einige Webcrawler auf das Ausführen von JavaScript.</li>
            <li>Der Google Webcrawler kann zwar JavaScript ausführen, priorisiert allerdings Webseiten die kein JavaScript enthalten.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Google Webcrawler</h4>
    <pre>
        <code class="language-plantuml">
            @startuml
            skinparam componentStyle rectangle

            [Crawling] -> [Indexing]
            [Indexing] -> [Crawling]
            [Indexing] ..> [Rendering]
            [Rendering] ..> [Indexing]
            @enduml
        </code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Der Google Webcrawler wechselt immer wieder zwischen Crawling und Indexing.</li>
            <li>Sobald er auf eine Seite stößt, bei der er erst JavaScript ausführen muss, wird diese Seite erstmal zurückgelegt.</li>
            <li>Erstmal indexiert er die anderen Seiten. Dadurch werden plain HTML Seiten bevorzugt.</li>
            <li>Erst zu späterem Zeitpunkt (Wenn Ressoucen und Zeit da sind) führt er das JavaScript aus uns indexiert die Seite.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Optimierung von SPA's bezüglich SEO</h4>
    <ul>
        <li>Server side rendering
            <ul>
                <li>On demand</li>
                <li>Pre rendered</li>
            </ul>
        </li>
        <li>Nur für den Webcrawler</li>
        <li>Auch für den normalen Nutzer?</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Mit Server side rendering können wir SPA's bezüglich SEO optimieren.</li>
            <li>Wir können Webcrawler erkennen und ihnen HTML zurückschicken.</li>
            <li>Der normale Nutzer bekommt weiterhin die SPA ausgeliefert.</li>
            <li>Dabei können wir die Seiten bereits im vorraus rendern und abspeichern.</li>
            <li>Oder sie on demand serverseitig rendern. Z.B. mit einem headless browser.</li>
            <li>Allerdings macht das Server side rendering auch für normale Nutzer Sinn.</li>
            <li>Angular universal
                <ul>
                    <li>Erste Seite wird auf dem Server gerendert.</li>
                    <li>Danach wir die SPA im Browser gestartet.</li>
                    <li>Noch mehr performance für den Nutzer.</li>
                </ul>
            </li>
        </ul>
    </aside>
</section>
<section>
    <h4>Nachteile einer SPA</h4>
    <ul>
        <li>Initiale Response ist groß</li>
        <li>Search Engine Optimization</li>
        <li><b><em>Client ist nicht vertrauenswürdig</em></b></li>
        <li>Duplizierter Code</li>
        <li>Höherer Entwicklungsaufwand</li>
    </ul>
</section>
<section>
    <h4>Client ist nicht vertrauenswürdig</h4>
    <ul>
        <li>JavaScript Code auf dem Client kann manipuliert werden</li>
        <li>Erneute Validierung im BE notwendig</li>
        <li>Validierungen sind meist duplizierter Code</li>
        <li>Dadurch entsteht mehr Entwicklungsaufwand</li>
        <li>Hierfür gibt es Abhilfe:
            <ul>
                <li>Multiplattform Libraries</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Ein versierter Nutzer kann den JavaScript Code in seinem Browser verändern.
                <ul>
                    <li>Wir sprechen hier noch nicht mal von XSS.</li>
                </ul>
            </li>
            <li>Daten die im BE gespeichert werden, müssen daher noch mal validiert werden.</li>
            <li>Validierungen, aber auch andere Geschäftslogik sind häufig dupliziert.
                <ul>
                    <li>Das kann gewünscht sein. Vielleicht möchte man Frontend und Backend voneinander entkoppeln.</li>
                    <li>Andererseits kann man Code auch übers BE und Frontend sharen.</li>
                    <li>Multiplattform Libraries können hier helfen.</li>
                </ul>
            </li>
        </ul>
    </aside>
</section>