.reveal .slide-number {
    font-size: 40pt;
    color: #ffffff;
}

.reveal section p,
.reveal section li {
    font-size: 0.8em;
}

.reveal section p.cite {
    font-size: 0.4em;
}

.reveal section p.small-text {
    font-size: 0.5em;
}

.split-row-container {
    display: flex;
    flex-direction: row;
}

.split-row-child {
    width: 50%;
}

div.split-row-child > pre.code-wrapper {
    margin: 2%;
    width: 96%;
}

.bg-marker {
    background: #FFFFCC;
}

.c-blue {
    color: #721886;
}

.c-gray {
    color: #737373;
}

.c-purple {
    color: #1227a5;
}

.font-mono {
    font-family: "JetBrains Mono", monospace;
}

.text-sm {
    font-size: 0.75em;
}
